article {
    background-color: rgb(177, 196, 245);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
    margin: 10px;
}

/* blog grid */
.blogs {
    margin: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/* a {
    color: orange;
  } */